<body style="background-image: url('https://assets.materialup.com/uploads/945785f5-dfac-4c91-8a94-a847efb2c762/preview.gif')">
<div class="container card col-md-6 my-4 bg-info p-2" >
    <h1 class="d-flex align-items-center justify-content-center m-6">Welcome to Gift Card System</h1>
</div>
</body>